matplotlib==3.8.0
numba==0.58.1
numpy==1.26.1
pandas==2.1.1
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
tensorboard==2.15.1
torch==2.2.0+cu121
torch-summary==1.4.5
torch-tb-profiler==0.4.3
torchaudio==2.2.0+cu121
torchvision==0.17.0+cu121
tqdm==4.66.1
